body {
    background-color:white;
}
button {
    width: 25% ;
    height: 40px ;
    margin-top: 10px ;
    border-radius: 10px;
    border-color: red ;
    font-family: 'Concert One', cursive;
}
button:hover {
    background-color: black;
    color: white;
}
#element-view {
    padding-top: 25px ;
    width: 100% ;
}
.element {
    display: inline-block!important;
}
#element-input {
    width: 200px;
    height: 30px ;
    border-radius: 10px ;
    border-color:red ;
}
label {
    font-family: 'Concert One', cursive;
}
h1 {
    font-family: 'Concert One', cursive;
}